{% extends "base.html.twig" %}

{% set page_title = 'Страница не найдена' %}

{% block main %}

    <img src="https://cdn1.lamp.im/wp-content/uploads/2017/10/27-4.jpg" style="max-width: 300px;">

    <div>
        <a href="{{ url('/') }}">Вернуться на главную</a>
    </div>

{% endblock %}