{% extends "pages/admin.html.twig" %}

{% block main %}

    <div>
        <a href="{{ url('/admin/users/add') }}" class="btn btn-default">Добавить администратора</a>
    </div>

    <table class="table">
        {% for user in users %}
            <tr>
                <td>{{ user.login }}</td>
                <td><a href="{{ url('/admin/users/'~user.id~'/edit') }}">редактировать</a></td>
                <td><a style="color: red;" href="{{ url('/admin/users/'~user.id~'/delete') }}">удалить</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}